BEGIN;

-- 1) Bảng độc lập trước


CREATE TABLE nhanvien (
  nhan_vien_id    SERIAL PRIMARY KEY,
  ho_ten          VARCHAR(100),
  ngay_sinh       DATE,
  so_dien_thoai   VARCHAR(20),
  email           VARCHAR(100),
  dia_chi         VARCHAR(255),
  ma_nv           VARCHAR(20),
  trang_thai      VARCHAR(30) NOT NULL DEFAULT 'dang_lam'
);

CREATE TABLE taikhoan (
  tai_khoan_id    SERIAL PRIMARY KEY,
  ten_dang_nhap   VARCHAR(50)  NOT NULL UNIQUE,
  mat_khau        VARCHAR(255) NOT NULL,
  vai_tro         VARCHAR(20)  NOT NULL,
  trang_thai      VARCHAR(20)  NOT NULL DEFAULT 'dang_hoat_dong'
);

CREATE TABLE phim (
  phim_id         SERIAL PRIMARY KEY,
  ten_phim        VARCHAR(200),
  the_loai        VARCHAR(100),
  thoi_luong      INTEGER,
  do_tuoi         VARCHAR(10),
  trang_thai      VARCHAR(30)
);

CREATE TABLE phongchieu (
  phong_chieu_id  SERIAL PRIMARY KEY,
  ten_phong       VARCHAR(50),
  suc_chua        INTEGER,
  trang_thai      VARCHAR(20)
);

CREATE TABLE sizemon (
  size_id         SERIAL PRIMARY KEY,
  ten_size        VARCHAR(30) NOT NULL
);

CREATE TABLE monbapnuoc (
  mon_id          SERIAL PRIMARY KEY,
  ten_mon         VARCHAR(100) NOT NULL,
  ton_kho         INTEGER NOT NULL DEFAULT 0
);

-- 2) Bảng phụ thuộc


CREATE TABLE bienthemon (
  bien_the_id     SERIAL PRIMARY KEY,
  mon_id          INTEGER NOT NULL,
  size_id         INTEGER NOT NULL,
  gia             DOUBLE PRECISION NOT NULL DEFAULT 0,
  CONSTRAINT uq_bienthemon UNIQUE (mon_id, size_id),
  CONSTRAINT fk_bienthemon_mon  FOREIGN KEY (mon_id)  REFERENCES monbapnuoc(mon_id),
  CONSTRAINT fk_bienthemon_size FOREIGN KEY (size_id) REFERENCES sizemon(size_id)
);

CREATE TABLE hoadonbapnuoc (
  hoa_don_id      SERIAL PRIMARY KEY,
  nhan_vien_id    INTEGER NOT NULL,
  ngay_lap        TIMESTAMP NOT NULL DEFAULT now(),
  tong_tien       BIGINT NOT NULL DEFAULT 0,
  CONSTRAINT fk_hdbn_nhanvien FOREIGN KEY (nhan_vien_id) REFERENCES nhanvien(nhan_vien_id)
);
CREATE INDEX ix_hoadonbapnuoc_ngaylap ON hoadonbapnuoc(ngay_lap);

CREATE TABLE hoadonve (
  hoa_don_ve_id   SERIAL PRIMARY KEY,
  nhan_vien_id    INTEGER,
  ngay_lap        TIMESTAMP,
  tong_tien       NUMERIC(12,2),
  CONSTRAINT fk_hoadonve_nhanvien FOREIGN KEY (nhan_vien_id) REFERENCES nhanvien(nhan_vien_id)
);

CREATE TABLE ghe (
  ghe_id          SERIAL PRIMARY KEY,
  phong_chieu_id  INTEGER,
  hang_ghe        CHAR(1),
  so_ghe          INTEGER,
  loai_ghe        VARCHAR(20),
  CONSTRAINT fk_ghe_phongchieu FOREIGN KEY (phong_chieu_id) REFERENCES phongchieu(phong_chieu_id)
);

CREATE TABLE suatchieu (
  suat_chieu_id       SERIAL PRIMARY KEY,
  phim_id             INTEGER,
  phong_chieu_id      INTEGER,
  thoi_gian_bat_dau   TIMESTAMP,
  thoi_gian_ket_thuc  TIMESTAMP,
  gia                 NUMERIC(10,2),
  CONSTRAINT fk_suatchieu_phim      FOREIGN KEY (phim_id)        REFERENCES phim(phim_id),
  CONSTRAINT fk_suatchieu_phongchieu FOREIGN KEY (phong_chieu_id) REFERENCES phongchieu(phong_chieu_id)
);

CREATE TABLE ve (
  ve_id          SERIAL PRIMARY KEY,
  suat_chieu_id  INTEGER,
  ghe_id         INTEGER,
  gia_ve         NUMERIC(10,2),
  trang_thai     VARCHAR(20),
  CONSTRAINT fk_ve_suatchieu FOREIGN KEY (suat_chieu_id) REFERENCES suatchieu(suat_chieu_id),
  CONSTRAINT fk_ve_ghe       FOREIGN KEY (ghe_id)        REFERENCES ghe(ghe_id)
);



CREATE TABLE chitiethoadonbapnuoc (
  hoa_don_id     INTEGER NOT NULL,
  bien_the_id    INTEGER NOT NULL,
  so_luong       INTEGER NOT NULL DEFAULT 1,
  CONSTRAINT pk_cthdbn PRIMARY KEY (hoa_don_id, bien_the_id),
  CONSTRAINT fk_cthdbn_hd FOREIGN KEY (hoa_don_id)  REFERENCES hoadonbapnuoc(hoa_don_id),
  CONSTRAINT fk_cthdbn_bt FOREIGN KEY (bien_the_id) REFERENCES bienthemon(bien_the_id)
);

CREATE TABLE chitiethoadonve (
  hoa_don_ve_id  INTEGER NOT NULL,
  ve_id          INTEGER NOT NULL,
  CONSTRAINT pk_cthdv PRIMARY KEY (hoa_don_ve_id, ve_id),
  CONSTRAINT fk_cthdv_hd FOREIGN KEY (hoa_don_ve_id) REFERENCES hoadonve(hoa_don_ve_id),
  CONSTRAINT fk_cthdv_ve FOREIGN KEY (ve_id)         REFERENCES ve(ve_id)
);

-- 3) Seed 2 tài khoản mặc định đúng như bạn muốn (admin/admin, staff/staff)
INSERT INTO taikhoan(ten_dang_nhap, mat_khau, vai_tro, trang_thai)
VALUES
  ('admin','admin','admin','dang_hoat_dong'),
  ('staff','staff','staff','dang_hoat_dong')
ON CONFLICT (ten_dang_nhap) DO NOTHING;

COMMIT;
